# Ignore Unity files:
Temp/
Library/
Logs/

# my personal build folder (you can change the name for your personal build folder to ignore it):
build/ 

# Ignore Restore files:
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj